*{
	box-sizing: border-box;
	font-family: "newsreader";
	font-size: 1.1rem;
    margin:0;
    padding:0
}

body{
    
    margin:0;
	padding:0;
	background-color: white;
	
	min-height: 400px;


}

/* header section starts */
li, a , button {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	color: black;
	text-decoration: none;
	list-style-type: none;
	

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px black;
    background-color: lightgrey;
}

.logo{
	cursor: pointer;
	
	
}


.nav-link{
	list-style: none;
	
}

.nav-link li {
	display: inline-block;
	margin: 1em;
}

.nav-link li a {
	transition: all 0.8s ease 0s;
	padding: 1em;
    
}

.nav-link li a:hover {
	color: white;
	background-color: #7f8487;
	border-radius: 50%;

}

.nav-link li a:focus{
    color: white;
    background-color: #7f8487;
    border-radius: 50%;
}

/* header section ends */





/* content starts */

p{
	text-indent: 10%;
	font-size: 1.4em;
   
   
	
}

.content {

	display: grid;
	grid-gap: 3%;
	grid-template-columns: repeat (12, 1fr);

	grid-template-areas: 

	"o t t t t t t t t t t tr"
	"f f f f fi fi fi fi s s s s"
	"se se se se se se  e e e e n n"



	;
	

	}

	

	.all{

		padding: 3%;
		
		
		
		
	}

	.one{
		grid-area: o;
		border-bottom: 2px solid black;


		

	}
    
	.two{

		font-size: 1.3rem;

		grid-area: t;
		border-bottom: 2px solid black;
		

	}

	.three{
		grid-area: tr;
		border-bottom: 2px solid black;
	}

	.four{
		grid-area: f;
		
		
		
	}

	.five{
		grid-area: fi;
		border-right: 2px solid black;
		border-left: 2px solid black;

	}

	.six{
		grid-area: s;
		border-bottom: 2px solid black;
	}

	.seven{
		grid-area: se;
		border-top: 2px solid black;
		
	}
 
	.eight{
		grid-area: e;
		border-left: 2px solid black;
		border-right: 2px solid black;
	}

	.nine{
		grid-area: n;
	}

	h2{
        margin: 0 auto;
        padding: 3% 0;
		font-size: 3em;
		text-align: center;

        
    }

	h3{
        margin: 0 auto;
        padding: 3% 0;
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 8%;

        
    }



	

   
/* content ends */


  
    

   
    
  
	a{
		font-size: 1.5rem;
	}

	

	.history p:last-child{
		padding-bottom: 2%;
		border-bottom: 2px solid black;
	}





    
      .bigger{
        font-size:2em;
        color: #514e40;
      }
      
      
       
        
      
      
      hr{
        width: 50%;
        height:4px;
        margin: 5% auto;
        background: black;
        
        }

		

	
      





/* footer begins */

footer {
	display:flex;
    color : black;
	background-color: lightgrey;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
	width: 100%;
	border-top: 1px solid black;
	justify-content:center;
	align-items:center;
   
	
	 
	
	}
	 
    .phone , .address , .copyright {
	   
        font-size: .8rem;
     margin:auto;
      }
      
      .copyright{
         font-size: 1.05rem;
      }
	 
	 
     
	 /* footer ends */

	 @media only screen and (max-width: 768px) {
		/* For mobile phones: */

        .content{
            display: block;
            width: 100%;
            
        }
		.leftside {
			display:block;
		  	width: 100%;
		}

        .rightside{
        display: block;
        padding-bottom: 90%;
        margin-bottom: 15%;
        }

        

        .contenth2{
            padding-top:20%;
            display: block;
            font-size: 2em;
            text-align: center;
        }

		.logo{
			display: block;
			margin:0 auto;
		}
		header{
			display: block;
			background-color: lightgrey;


		}

		ul.nav-link{
			padding:0;
			text-align: center;
		}

		footer{
			height:5vmax;
            
		}

		.nav-link li a:hover{
			color:white ;
			background-color: #7f8487;
		}

		li, a , button{
			color: black;
		}

        
		
	  }



      .headerleft{
        display: inline-block;
        font-size: 2.5em;
        
        
        
      }

      .imgright{
        display: inline-block;
        float: right;
		margin:3%;
        
        
      }

	  .imgleft{
        display: inline-block;
        float: left;
		margin: 3%;
        
        
      }

     

      .righth2{
        margin-top: 10%;
        font-size: 3em;
        text-align: center;
      }

      .imgphone:hover {
        
      
         
        animation:spin 2s linear ;
    }
  
    
   